In [15]:
import pandas as pd
from sqlalchemy import create_engine
from password import password

### Load CSVs to Dataframes

In [16]:
game_file = "data/game.csv"
game_df = pd.read_csv(game_file)
game_df.head(5)

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2016020045,20162017,R,2016-10-19T00:30:00Z,4,16,4,7,home win REG,right,United Center,/api/v1/venues/null,America/Chicago,-5,CDT
1,2017020812,20172018,R,2018-02-07T00:00:00Z,24,7,4,3,away win OT,left,KeyBank Center,/api/v1/venues/null,America/New_York,-4,EDT
2,2015020314,20152016,R,2015-11-24T01:00:00Z,21,52,4,1,away win REG,right,MTS Centre,/api/v1/venues/null,America/Winnipeg,-5,CDT
3,2015020849,20152016,R,2016-02-17T00:00:00Z,52,12,1,2,home win REG,right,PNC Arena,/api/v1/venues/null,America/New_York,-4,EDT
4,2017020586,20172018,R,2017-12-30T03:00:00Z,20,24,1,2,home win REG,left,Honda Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT

In [17]:
game_plays_file = "data/game_plays.csv"
game_plays_df = pd.read_csv(game_file)
game_plays_df.head(5)

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2016020045,20162017,R,2016-10-19T00:30:00Z,4,16,4,7,home win REG,right,United Center,/api/v1/venues/null,America/Chicago,-5,CDT
1,2017020812,20172018,R,2018-02-07T00:00:00Z,24,7,4,3,away win OT,left,KeyBank Center,/api/v1/venues/null,America/New_York,-4,EDT
2,2015020314,20152016,R,2015-11-24T01:00:00Z,21,52,4,1,away win REG,right,MTS Centre,/api/v1/venues/null,America/Winnipeg,-5,CDT
3,2015020849,20152016,R,2016-02-17T00:00:00Z,52,12,1,2,home win REG,right,PNC Arena,/api/v1/venues/null,America/New_York,-4,EDT
4,2017020586,20172018,R,2017-12-30T03:00:00Z,20,24,1,2,home win REG,left,Honda Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT

In [18]:
game_team_stats_file = "data/game_team_stats.csv"
game_team_stats_df = pd.read_csv(game_file)
game_team_stats_df.head(5)

,game_id,season,type,date_time_GMT,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2016020045,20162017,R,2016-10-19T00:30:00Z,4,16,4,7,home win REG,right,United Center,/api/v1/venues/null,America/Chicago,-5,CDT
1,2017020812,20172018,R,2018-02-07T00:00:00Z,24,7,4,3,away win OT,left,KeyBank Center,/api/v1/venues/null,America/New_York,-4,EDT
2,2015020314,20152016,R,2015-11-24T01:00:00Z,21,52,4,1,away win REG,right,MTS Centre,/api/v1/venues/null,America/Winnipeg,-5,CDT
3,2015020849,20152016,R,2016-02-17T00:00:00Z,52,12,1,2,home win REG,right,PNC Arena,/api/v1/venues/null,America/New_York,-4,EDT
4,2017020586,20172018,R,2017-12-30T03:00:00Z,20,24,1,2,home win REG,left,Honda Center,/api/v1/venues/null,America/Los_Angeles,-7,PDT

### Connection to Postgres Database

In [21]:
# create connector
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/hockey_db')

# display tables in database
engine.table_names()

['game', 'game_plays', 'game_teams_stats']

### Load Dataframes into Postgres Database

###### Game table

In [26]:
game_df.to_sql(
    name = 'game',
    con = engine,
    if_exists = 'append',
    index = False
)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "date_time_GMT" of relation "game" does not exist
LINE 1: INSERT INTO game (game_id, season, type, "date_time_GMT", aw...
                                                 ^

[SQL: INSERT INTO game (game_id, season, type, "date_time_GMT", away_team_id, home_team_id, away_goals, home_goals, outcome, home_rink_side_start, venue, venue_link, venue_time_zone_id, venue_time_zone_offset, venue_time_zone_tz) VALUES (%(game_id)s, %(season)s, %(type)s, %(date_time_GMT)s, %(away_team_id)s, %(home_team_id)s, %(away_goals)s, %(home_goals)s, %(outcome)s, %(home_rink_side_start)s, %(venue)s, %(venue_link)s, %(venue_time_zone_id)s, %(venue_time_zone_offset)s, %(venue_time_zone_tz)s)]
[parameters: ({'game_id': 2016020045, 'season': 20162017, 'type': 'R', 'date_time_GMT': '2016-10-19T00:30:00Z', 'away_team_id': 4, 'home_team_id': 16, 'away_goals': 4, 'home_goals': 7, 'outcome': 'home win REG', 'home_rink_side_start': 'right', 'venue': 'United Center', 'venue_link': '/api/v1/venues/null', 'venue_time_zone_id': 'America/Chicago', 'venue_time_zone_offset': -5, 'venue_time_zone_tz': 'CDT'}, {'game_id': 2017020812, 'season': 20172018, 'type': 'R', 'date_time_GMT': '2018-02-07T00:00:00Z', 'away_team_id': 24, 'home_team_id': 7, 'away_goals': 4, 'home_goals': 3, 'outcome': 'away win OT', 'home_rink_side_start': 'left', 'venue': 'KeyBank Center', 'venue_link': '/api/v1/venues/null', 'venue_time_zone_id': 'America/New_York', 'venue_time_zone_offset': -4, 'venue_time_zone_tz': 'EDT'}, {'game_id': 2015020314, 'season': 20152016, 'type': 'R', 'date_time_GMT': '2015-11-24T01:00:00Z', 'away_team_id': 21, 'home_team_id': 52, 'away_goals': 4, 'home_goals': 1, 'outcome': 'away win REG', 'home_rink_side_start': 'right', 'venue': 'MTS Centre', 'venue_link': '/api/v1/venues/null', 'venue_time_zone_id': 'America/Winnipeg', 'venue_time_zone_offset': -5, 'venue_time_zone_tz': 'CDT'}, {'game_id': 2015020849, 'season': 20152016, 'type': 'R', 'date_time_GMT': '2016-02-17T00:00:00Z', 'away_team_id': 52, 'home_team_id': 12, 'away_goals': 1, 'home_goals': 2, 'outcome': 'home win REG', 'home_rink_side_start': 'right', 'venue': 'PNC Arena', 'venue_link': '/api/v1/venues/null', 'venue_time_zone_id': 'America/New_York', 'venue_time_zone_offset': -4, 'venue_time_zone_tz': 'EDT'}, {'game_id': 2017020586, 'season': 20172018, 'type': 'R', 'date_time_GMT': '2017-12-30T03:00:00Z', 'away_team_id': 20, 'home_team_id': 24, 'away_goals': 1, 'home_goals': 2, 'outcome': 'home win REG', 'home_rink_side_start': 'left', 'venue': 'Honda Center', 'venue_link': '/api/v1/venues/null', 'venue_time_zone_id': 'America/Los_Angeles', 'venue_time_zone_offset': -7, 'venue_time_zone_tz': 'PDT'}, {'game_id': 2016020610, 'season': 20162017, 'type': 'R', 'date_time_GMT': '2017-01-10T00:30:00Z', 'away_team_id': 15, 'home_team_id': 8, 'away_goals': 4, 'home_goals': 1, 'outcome': 'away win REG', 'home_rink_side_start': 'right', 'venue': 'Centre Bell', 'venue_link': '/api/v1/venues/null', 'venue_time_zone_id': 'America/Montreal', 'venue_time_zone_offset': -4, 'venue_time_zone_tz': 'EDT'}, {'game_id': 2015020606, 'season': 20152016, 'type': 'R', 'date_time_GMT': '2016-01-08T03:30:00Z', 'away_team_id': 10, 'home_team_id': 26, 'away_goals': 1, 'home_goals': 2, 'outcome': 'home win REG', 'home_rink_side_start': 'right', 'venue': 'STAPLES Center', 'venue_link': '/api/v1/venues/null', 'venue_time_zone_id': 'America/Los_Angeles', 'venue_time_zone_offset': -7, 'venue_time_zone_tz': 'PDT'}, {'game_id': 2017020240, 'season': 20172018, 'type': 'R', 'date_time_GMT': '2017-11-10T03:00:00Z', 'away_team_id': 23, 'home_team_id': 24, 'away_goals': 1, 'home_goals': 4, 'outcome': 'home win REG', 'home_rink_side_start': 'left', 'venue': 'Honda Center', 'venue_link': '/api/v1/venues/null', 'venue_time_zone_id': 'America/Los_Angeles', 'venue_time_zone_offset': -7, 'venue_time_zone_tz': 'PDT'}  ... displaying 10 of 26305 total bound parameter sets ...  {'game_id': 2018030417, 'season': 20182019, 'type': 'P', 'date_time_GMT': '2019-06-13T00:00:00Z', 'away_team_id': 19, 'home_team_id': 6, 'away_goals': 4, 'home_goals': 1, 'outcome': 'away win REG', 'home_rink_side_start': 'left', 'venue': 'TD Garden', 'venue_link': '/api/v1/venues/5085', 'venue_time_zone_id': 'America/New_York', 'venue_time_zone_offset': -5, 'venue_time_zone_tz': 'EST'}, {'game_id': 2018030417, 'season': 20182019, 'type': 'P', 'date_time_GMT': '2019-06-13T00:00:00Z', 'away_team_id': 19, 'home_team_id': 6, 'away_goals': 4, 'home_goals': 1, 'outcome': 'away win REG', 'home_rink_side_start': 'left', 'venue': 'TD Garden', 'venue_link': '/api/v1/venues/5085', 'venue_time_zone_id': 'America/New_York', 'venue_time_zone_offset': -5, 'venue_time_zone_tz': 'EST'})]
(Background on this error at: http://sqlalche.me/e/13/f405)

###### Game Plays table

###### Game Teams Stats table