In [2]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [4]:
csv_file = "Resources/game_officials.csv"
officials_df = pd.read_csv(csv_file)
officials_df.head()

      game_id       official_name official_type
0  2016020045        Dan O'Rourke       Referee
1  2016020045       Trevor Hanson       Referee
2  2016020045      Scott Driscoll      Linesman
3  2016020045      Lonnie Cameron      Linesman
4  2017020812  Justin St. Pierre        Referee

### Create new data with select columns

In [ ]:
# new_df = old_df[['id', 'first_name', 'last_name']].copy()
# new_df.head()

### Clean DataFrame

### Connect to local database

In [ ]:
# rds_connection_string = "<insert user name>:<insert password>@localhost:5432/customer_db"
# engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [ ]:
# engine.table_names()

### Use pandas to load csv converted DataFrame into database

In [ ]:
# new_df.to_sql(name='customer_location', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the table
* NOTE: can also check using pgAdmin

In [ ]:
# pd.read_sql_query('select * from customer_name', con=engine).head()