In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [2]:
csv_file = "Resources/game_shifts.csv"
officials_df = pd.read_csv(csv_file)
officials_df.head()

      game_id  player_id  period  shift_start  shift_end
0  2018020001    8466139       1            0       42.0
1  2018020001    8466139       1          207      247.0
2  2018020001    8466139       1          375      413.0
3  2018020001    8466139       1          556      574.0
4  2018020001    8466139       1          605      631.0

### Create new data with select columns

In [ ]:
# new_df = old_df[['id', 'first_name', 'last_name']].copy()
# new_df.head()

### Clean DataFrame

### Connect to local database

In [ ]:
# rds_connection_string = "<insert user name>:<insert password>@localhost:5432/customer_db"
# engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [ ]:
# engine.table_names()

### Use pandas to load csv converted DataFrame into database

In [ ]:
# new_df.to_sql(name='customer_location', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the table
* NOTE: can also check using pgAdmin

In [ ]:
# pd.read_sql_query('select * from customer_name', con=engine).head()