In [10]:
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy.dialects.sqlite

### Load CSVs to DataFrame

In [2]:
officials_file = "Resources/game_officials.csv"
officials_df = pd.read_csv(officials_file)
officials_df.head()

      game_id       official_name official_type
0  2016020045        Dan O'Rourke       Referee
1  2016020045       Trevor Hanson       Referee
2  2016020045      Scott Driscoll      Linesman
3  2016020045      Lonnie Cameron      Linesman
4  2017020812  Justin St. Pierre        Referee

In [3]:
officials_df.set_index('game_id', inplace = True)
officials_df

                 official_name official_type
game_id
2016020045        Dan O'Rourke       Referee
2016020045       Trevor Hanson       Referee
2016020045      Scott Driscoll      Linesman
2016020045      Lonnie Cameron      Linesman
2017020812  Justin St. Pierre        Referee
...                        ...           ...
2018030417    Kelly Sutherland       Referee
2018030417          Gord Dwyer       Referee
2018030417       Scott Cherrey      Linesman
2018030417      Pierre Racicot      Linesman
2018030417         Derek Amell      Linesman

[105853 rows x 2 columns]

In [4]:
officials_df.dtypes

official_name    object
official_type    object
dtype: object

In [5]:
shifts_file = "Resources/game_shifts.csv"
shifts_df = pd.read_csv(shifts_file)
shifts_df.head()

      game_id  player_id  period  shift_start  shift_end
0  2018020001    8466139       1            0       42.0
1  2018020001    8466139       1          207      247.0
2  2018020001    8466139       1          375      413.0
3  2018020001    8466139       1          556      574.0
4  2018020001    8466139       1          605      631.0

In [6]:
# renamed 'period' column as it's a key word in SQL
shifts_df = shifts_df.rename(columns = {'period' : 'game_period'})
shifts_df.head()

      game_id  player_id  game_period  shift_start  shift_end
0  2018020001    8466139            1            0       42.0
1  2018020001    8466139            1          207      247.0
2  2018020001    8466139            1          375      413.0
3  2018020001    8466139            1          556      574.0
4  2018020001    8466139            1          605      631.0

In [7]:
shifts_df.head()

      game_id  player_id  game_period  shift_start  shift_end
0  2018020001    8466139            1            0       42.0
1  2018020001    8466139            1          207      247.0
2  2018020001    8466139            1          375      413.0
3  2018020001    8466139            1          556      574.0
4  2018020001    8466139            1          605      631.0

In [8]:
shifts_df.dtypes

game_id          int64
player_id        int64
game_period      int64
shift_start      int64
shift_end      float64
dtype: object

### Connect to local database

In [14]:
# rds_connection_string = "<insert user name>:<insert password>@localhost:5432/customer_db"
# engine = create_engine(f'postgresql://{rds_connection_string}')

rds_connection_string = "postgres:Wyatt@localhost:5432/hockey_db"
engine = create_engine(f"postgresql://{rds_connection_string}")

NoSuchModuleError: Can't load plugin: sqlalchemy.dialects:postgresql

### Check for tables

In [ ]:
# engine.table_names()

### Use pandas to load csv converted DataFrame into database

In [ ]:
# new_df.to_sql(name='customer_location', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the table
* NOTE: can also check using pgAdmin

In [ ]:
# pd.read_sql_query('select * from customer_name', con=engine).head()